In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
airports = pd.read_csv("data/Airports Data.csv")
bag_level = pd.read_csv("data/Bag+Level+Data.csv")
flight_level = pd.read_csv("data/Flight Level Data.csv")
pnr_remark_level = pd.read_csv("data/PNR Remark Level Data.csv")
pnr_flight_level = pd.read_csv("data/PNR+Flight+Level+Data.csv")

In [5]:
airports

     airport_iata_code iso_country_code
0                  DAU               PG
1                  MDU               PG
2                  MXH               PG
3                  MIS               PG
4                  TIZ               PG
...                ...              ...
5607               KWE               CN
5608               LXA               CN
5609               KHG               CN
5610               HRB               CN
5611               YNJ               CN

[5612 rows x 2 columns]

In [6]:
bag_level

,company_id,flight_number,scheduled_departure_date_local,scheduled_departure_station_code,scheduled_arrival_station_code,bag_tag_unique_number,bag_tag_issue_date,bag_type
0,UA,1068,2025-08-01,ORD,IAD,BAGTAG_418666,2025-07-27,Transfer
1,UA,622,2025-08-01,ORD,DEN,BAGTAG_418667,2025-07-28,Transfer
2,YX,3718,2025-08-01,ORD,MSN,BAGTAG_84760,2025-07-28,Transfer
3,BA,294,2025-08-01,ORD,LHR,BAGTAG_418669,2025-07-28,Transfer
4,UA,2627,2025-08-01,ORD,MSP,BAGTAG_335257,2025-07-28,Transfer
...,...,...,...,...,...,...,...,...
687240,OO,5138,2025-08-15,ORD,MGW,BAGTAG_668154,2025-08-16,Origin
687241,OO,5138,2025-08-15,ORD,MGW,BAGTAG_335255,2025-08-16,Origin
687242,OO,5138,2025-08-15,ORD,MGW,BAGTAG_335256,2025-08-16,Origin
687243,OO,5138,2025-08-15,ORD,MGW,BAGTAG_168496,2025-08-16,Origin
687244,OO,5251,2025-08-15,ORD,ASE,BAGTAG_168497,2025-08-16,Origin

In [7]:
flight_level

,company_id,flight_number,scheduled_departure_date_local,scheduled_departure_station_code,scheduled_arrival_station_code,scheduled_departure_datetime_local,scheduled_arrival_datetime_local,actual_departure_datetime_local,actual_arrival_datetime_local,total_seats,fleet_type,carrier,scheduled_ground_time_minutes,actual_ground_time_minutes,minimum_turn_minutes
0,OO,4792,2025-08-04,ORD,ROA,2025-08-04T17:57:00Z,2025-08-04T21:04:00Z,2025-08-04T18:04:00Z,2025-08-04T20:52:00Z,76,ERJ-175,Express,42,34,34
1,UA,920,2025-08-03,ORD,LHR,2025-08-03T18:05:00Z,2025-08-04T08:20:00Z,2025-08-03T18:27:00Z,2025-08-04T08:06:00Z,167,B767-300,Mainline,235,229,145
2,UA,1776,2025-08-10,ORD,PHL,2025-08-10T18:20:00Z,2025-08-10T21:35:00Z,2025-08-10T20:11:00Z,2025-08-10T23:26:00Z,166,B737-800,Mainline,76,69,51
3,OO,5790,2025-08-06,ORD,CRW,2025-08-06T18:20:00Z,2025-08-06T21:04:00Z,2025-08-06T20:05:00Z,2025-08-06T22:42:00Z,50,CRJ-200,Express,223,38,29
4,UA,1398,2025-08-05,ORD,ATL,2025-08-05T18:20:00Z,2025-08-05T21:29:00Z,2025-08-05T18:16:00Z,2025-08-05T21:49:00Z,166,B737-800,Mainline,75,72,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8094,OO,5027,2025-08-15,ORD,MCW,2025-08-15T07:45:00Z,2025-08-15T09:14:00Z,2025-08-15T07:32:00Z,2025-08-15T09:03:00Z,50,CRJ-200,Express,52,64,29
8095,OO,5037,2025-08-10,ORD,LAF,2025-08-10T12:14:00Z,2025-08-10T14:12:00Z,2025-08-10T12:04:00Z,2025-08-10T13:57:00Z,50,CRJ-200,Express,24,48,29
8096,OO,5135,2025-08-15,ORD,MCW,2025-08-15T16:50:00Z,2025-08-15T18:20:00Z,2025-08-15T17:53:00Z,2025-08-15T19:16:00Z,50,CRJ-200,Express,-16,28,29
8097,OO,5027,2025-08-06,ORD,MCW,2025-08-06T07:45:00Z,2025-08-06T09:14:00Z,2025-08-06T07:31:00Z,2025-08-06T09:01:00Z,50,CRJ-200,Express,52,60,29
8098,OO,5136,2025-08-07,ORD,DEC,2025-08-07T07:45:00Z,2025-08-07T08:48:00Z,2025-08-07T08:26:00Z,2025-08-07T09:29:00Z,50,CRJ-200,Express,8,32,29

In [8]:
pnr_remark_level

      record_locator pnr_creation_date  flight_number special_service_request
0         PNR_153489        2025-07-04            308      Airport Wheelchair
1         PNR_153489        2025-07-04           2182      Airport Wheelchair
2         PNR_153508        2025-07-10           2649      Airport Wheelchair
3         PNR_153508        2025-07-10           2100      Airport Wheelchair
4         PNR_153521        2025-03-01            970     Unaccompanied Minor
...              ...               ...            ...                     ...
51693     PNR_610754        2025-03-16              9      Airport Wheelchair
51694     PNR_610754        2025-03-16             12      Airport Wheelchair
51695     PNR_610754        2025-03-16           4784      Airport Wheelchair
51696     PNR_610754        2025-03-16           5382      Airport Wheelchair
51697     PNR_610754        2025-03-16              3      Airport Wheelchair

[51698 rows x 4 columns]

In [9]:
pnr_flight_level

,company_id,flight_number,scheduled_departure_date_local,scheduled_departure_station_code,scheduled_arrival_station_code,record_locator,pnr_creation_date,total_pax,is_child,basic_economy_ind,is_stroller_user,lap_child_count
0,UA,2494,2025-08-04,ORD,MCI,PNR_520583,2025-07-07,1,N,0,N,0
1,UA,2483,2025-08-06,ORD,IAH,PNR_296107,2025-03-28,1,N,0,N,0
2,UA,1620,2025-08-01,ORD,SEA,PNR_296108,2025-06-30,4,Y,0,N,0
3,UA,1620,2025-08-01,ORD,SEA,PNR_296108,2025-06-30,4,N,0,N,1
4,UA,1620,2025-08-01,ORD,SEA,PNR_296108,2025-06-30,4,Y,0,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
687873,UA,291,2025-08-03,ORD,BDL,PNR_271652,2025-07-17,1,N,0,N,0
687874,UA,1139,2025-08-07,ORD,DSM,PNR_363174,2025-07-06,2,Y,0,Y,0
687875,UA,1139,2025-08-07,ORD,DSM,PNR_363174,2025-07-06,2,Y,0,N,0
687876,UA,1139,2025-08-07,ORD,DSM,PNR_363174,2025-07-06,2,N,0,N,0
687877,UA,2361,2025-08-04,ORD,LAX,PNR_580487,2025-08-04,1,N,0,N,0